<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>finalEcommerce.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FAF5F02C1D9620500025FD8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAF5F0421D9620500025FD8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAF5F04D1D9620500025FD8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
